<html>
    <head>
        <!--Bootstrap’s compiled CSS and JS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        
        
    </head>
    <body>
        <div class= "container">
           <div class= "jumbotron">
               Serving html file
            </div>
        </div>

        <!--Bootstrap’s compiled CSS and JS -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Compiled JavaScript -->
        <script src="/js/jquery.slim.min.js"></script>    
        <!-- Jquery-->

    </body>
</html>