<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%= title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/css/styles.css" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for (var i = 0; i < nav.length;i++){%>
        <li><a href="<%= nav[i].link%>"><%= nav[i].title%></a></li>
        <%}%>
       
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="/auth/logOut">Log Out</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%= title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
        <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="User Image" src="https://upload.wikimedia.org/wikipedia/commons/9/9f/User_reading_a_book.png" width="100px" height="100px"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>MuhannadRaouf</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">97thfloor.com</span></h4><h4>
                  <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Me</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="https://twitter.com/MuhanadRaouf"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-github btn-lg" href="https://github.com/MuhannadRaouf"><i class="icon-github icon-large"></i>GitHub</a>
	   <a class="btn btn-linkedin btn-lg" href="https://www.linkedin.com/in/muhannad-raouf/"><i class="icon-linkedin icon-large"></i> LinkedIn</a>
       <a class="btn btn-upwork btn-lg" href="https://www.upwork.com/o/profiles/users/_~0171b93afe9b477443/">UpWork</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>